@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* Greenheat Games specific stylesheet */
:root {
    --background: transparent;
    --foreground: rgba(0, 0, 0, 0.25);
    --text: black;
    --color: red;
}
body {
    overflow: hidden;
    font-family: 'Figtree', Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    background: var(--background);
    color: var(--text)
}

/* main */
canvas {
    position: absolute !important;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 100vw;
    height: 100vh;
}
img {
    image-rendering: pixelated;
}

/* settings page */
.svg-icon {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 16px;
    top: -32px;
    fill: var(--text);
}
@keyframes settings-fadeout {
    from { opacity: 1; }
    2.5% { opacity: 0.25; }
    to { opacity: 0; }
}
#settings {
    position: relative;
    background: var(--foreground);
    animation: settings-fadeout forwards 20s linear;
    transform: translate(0, calc(100vh - 16px));
    transition: opacity 0.5s, transform 0.5s;
    padding: 32px 64px;
}
#settings:hover {
    animation: unset !important;
    opacity: 1 !important;
    transform: translate(0, calc(100vh - 100%));
}
#settings > * { margin: 8px 0; }
#settings button, #settings input { padding: 8px; min-width: 1px; }
#settings label, #settings button, #settings input {
    margin-top: auto; margin-bottom: auto;
    margin-right: 8px;
    border-radius: 8px;
    vertical-align: middle;
}
#settings button:has(img) { padding: 0; }
#settings img { border-radius: 8px; }
#settings label, #settings p { pointer-events: none; }

#overlay { position: absolute; top: 0; left: 0; }
.clickdot {
    position: absolute;
    animation: clickdot-expand ease-out forwards 0.5s;
    border-radius: 50%;
    border: 4px solid var(--color);
}
@keyframes clickdot-expand {
    from { width: 0px; height: 0px; opacity: 1; transform: translate(0px, 0px); }
    to { width: 64px; height: 64px; opacity: 0; transform: translate(-32px, -32px); }
}
@keyframes hoverdot-expand {
    from { border-width: 4px; opacity: 0.5; }
    to { border-width: 0px; opacity: 0; }
}
.clickdot.hover, .clickdot.drag { animation: hoverdot-expand ease-out forwards 0.5s; }
.clickdot.release, .clickdot.hover { border: 4px solid gray; }